<div class="container">
  <div class="jumbotron verticle-center">
    <div class="container">
      <h2>Stock-Scan</h2>
      <h4>Scanner for New Highs and New Lows </h4>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="container">
    <div class="col-md-3">All-Time-Highs <%= @daily_ath_tally %></div>
    <div class="col-md-3">All-Time-Lows <%= @daily_atl_tally %></div>
    <div class="col-md-3">New Highs <%= @daily_nh_tally %></div>
    <div class="col-md-3">New Lows <%= @daily_nl_tally  %></div>
  </div>
</div>
<div class="row">
  <div class="container">
    <h4 class="center">52-Week Highs - 52 Week Lows</h4>
    <%= line_chart highs_minus_lows, name: 'Highs - Lows', format: "%B %d, %Y", discrete: true %>
  </div>
</div>
<div class="row">
  <div class="container">
    <h4 class="center">All Time Highs</h4>
    <%= line_chart AllTimeHigh.group_by_day(:saved_on).count %>
  </div>
</div>
